<div class="container mt-3">
  <div class="row justify-content-center mb-2">
    <div class="form-group col-xs-6 col-xs-offset-6">
      <div class="input-group mx-auto">
        <input [(ngModel)]="itemName" class="form-control" type="text" name="itemName" placeholder="Item">
        <input [(ngModel)]="itemQuantity" class="form-control" type="number" min="1" name="itemQuantity" placeholder="Quantity">
        <span class="input-group-append">
          <button class="btn btn-sm btn-primary" (click)='addToList()'>Add</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <table id="shopListTable" class="table table-bordered" style="margin: auto; width: 50%">
        <thead>
          <tr>
            <th class="fit" scope="col">Item</th>
            <th class="fit" scope="col">Quantity</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
