<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1">Test Project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button [routerLink]="'app-shop-cart-list'" routerLinkActive="active" class="btn btn-primary btn-block" (click)="shoppingCart()">Cart</button>
    </div>
    <div class="col text-center">
      <button [routerLink]="'app-recipes'" class="btn btn-primary btn-block" (click)="recipes()">Recipes</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <app-shop-cart-list *ngIf="appState">
</app-shop-cart-list>
<app-recipes *ngIf="appState===false">
</app-recipes> -->