<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-1">Test Project</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-block" (click)="shoppingCart()">Cart</button>
    </div>
    <div class="col text-center">
      <button class="btn btn-primary btn-block">Recipes</button>
    </div>
  </div>
</div>
<app-shop-cart-list *ngIf="shopCartOpen">
</app-shop-cart-list>